# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
*.egg-info/

# Banco de dados local
*.db
*.sqlite3
instance/

# Variáveis de ambiente (NUNCA subir!)
.env

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.log
